@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
  color: #fff;
}

._icon-logo:before {
  content: "\e901";
  color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #FFFFFF;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  background-color: #252525;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 81.25rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  background-color: transparent;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  min-height: 3.3125rem;
  flex-wrap: wrap;
}
@media (max-width: 48em) {
  .header__container {
    gap: 30px;
    min-height: 2.0625rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 48em) {
  .menu-open .header__menu {
    transition: all 0.3s ease 0s;
    top: 0;
    left: 0%;
    background-color: #EF3527;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 4;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .menu-open .header__menu .menu__list {
    flex-direction: column;
  }
}
.header__en-btn {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6666666667;
  letter-spacing: 0.2px;
  position: relative;
}
@media (min-width: 83.125em) {
  .header__en-btn {
    padding-right: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 83.125em) {
  .header__en-btn {
    padding-right: calc(0.625rem + 0.625 * (((100vw - 20rem)) / ((63.125))));
  }
}
@media (max-width: 20em) {
  .header__en-btn {
    padding-right: 0.625rem;
  }
}
@media (max-width: 47.9375em) {
  .header__en-btn {
    font-size: 0.9375rem;
    order: -1;
  }
}
.header__en-btn::before {
  content: "";
  background: url("../img/arrow.png");
  background-size: cover;
  position: absolute;
  left: 80%;
  top: 30%;
  width: 15px;
  height: 11px;
}

.logotip {
  color: #fff;
}

.logo {
  position: relative;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.1;
  letter-spacing: 0.00625rem;
  padding-left: 5.375rem;
}
@media (max-width: 48em) {
  .logo {
    font-size: 1.5625rem;
  }
}
@media (max-width: 23.4375em) {
  .logo {
    font-size: 1.25rem;
    padding-left: 3.4375rem;
  }
}
@media (max-width: 48em) {
  .logo {
    padding-left: 2.875rem;
  }
}
.logo::after {
  content: "";
  background: url(../img/Vector.png);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  left: 13%;
  top: -0.375rem;
  width: 2.875rem;
  height: 3.3125rem;
}
@media (max-width: 48em) {
  .logo::after {
    width: 2.625rem;
    height: 3.0625rem;
    left: 17%;
    top: -0.375rem;
  }
}
@media (max-width: 48em) {
  .logo::after {
    left: -3%;
  }
}
@media (max-width: 23.4375em) {
  .logo::after {
    top: -46%;
    width: 40px;
    height: 47;
    left: 0.125rem;
  }
}

.menu {
  max-width: 63.8125rem;
}
@media (max-width: 47.9375em) {
  .menu {
    position: absolute;
    left: -150%;
  }
}
.menu__body {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 83.125em) {
  .menu__body {
    padding-right: 8.125rem;
  }
}
@media (min-width: 20em) and (max-width: 83.125em) {
  .menu__body {
    padding-right: calc(0.9375rem + 7.1875 * (((100vw - 20rem)) / ((63.125))));
  }
}
@media (max-width: 20em) {
  .menu__body {
    padding-right: 0.9375rem;
  }
}
.menu__list {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 83.125em) {
  .menu__list {
    gap: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 83.125em) {
  .menu__list {
    gap: calc(1.25rem + 2.5 * (((100vw - 20rem)) / ((63.125))));
  }
}
@media (max-width: 20em) {
  .menu__list {
    gap: 1.25rem;
  }
}
@media (max-width: 48em) {
  .menu__link {
    font-size: 1.0625rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer {
  padding-top: 4.875rem;
}
@media (max-width: 32.5em) {
  .footer {
    padding-top: 1.25rem;
  }
}
.footer__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 3.125rem;
  justify-content: center;
  padding-left: 3.125rem;
}
@media (max-width: 80.5625em) {
  .footer__body {
    padding-left: 0;
  }
}
@media (max-width: 68.6875em) {
  .footer__body {
    padding: 0rem 6.25rem;
  }
}
@media (max-width: 45.9375em) {
  .footer__body {
    padding: 0;
  }
}
.footer__top {
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 6.875rem;
  padding-right: 6.25rem;
}
@media (max-width: 80.5625em) {
  .footer__top {
    row-gap: 50px;
    padding-right: 0;
  }
}
@media (max-width: 68.6875em) {
  .footer__top {
    gap: 30px;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 61.1875em) {
  .footer__top {
    justify-content: center;
  }
}
@media (max-width: 31.25em) {
  .footer__top {
    margin-bottom: 3.125rem;
  }
}
.footer__item {
  height: 12.5rem;
  width: 14.375rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 32.4375em) {
  .footer__item {
    height: auto;
    background-color: #0d0d0d;
    border-radius: 1.25rem;
    padding-left: 0.9375rem;
    padding-top: 0.625rem;
    padding-bottom: 1.25rem;
    width: 15.625rem;
  }
}
.footer__title {
  font-size: 0.875rem;
  line-height: 2.1428571429;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.2px;
  padding-bottom: 0.625rem;
  padding-top: 1.25rem;
}
@media (max-width: 68.6875em) {
  .footer__title {
    padding-top: 0;
  }
}
.footer__list li {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 2.1428571429;
  font-size: 14px;
  /* or 214% */
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.2px;
}
.footer .social {
  padding-top: 1.25rem;
}
@media (max-width: 68.6875em) {
  .footer .social {
    width: 14.375rem;
  }
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media (max-width: 25.5em) {
  .footer__bottom {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
.footer__bottom P {
  width: 100%;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 25.5em) {
  .footer__bottom P {
    padding-top: 1.875rem;
    text-align: center;
  }
}
.footer__police {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 61.25em) {
  .footer__police {
    flex-direction: column;
  }
}
.footer__police a {
  padding: 0rem 0.625rem;
  text-align: right;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 65.375em) {
  .footer__police a {
    padding: 0.9375rem 1.25rem;
  }
}

.home-page {
  position: relative;
  min-height: 30rem;
  width: 100%;
  background: url(../img/bg.png), #EF3527;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 75%;
  background-blend-mode: multiply;
}
.home-page__title {
  color: #FFFFFF;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 2px;
  text-align: center;
}
@media (min-width: 83.125em) {
  .home-page__title {
    padding-top: 16.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 83.125em) {
  .home-page__title {
    padding-top: calc(2.5rem + 14.0625 * (((100vw - 20rem)) / ((63.125))));
  }
}
@media (max-width: 20em) {
  .home-page__title {
    padding-top: 2.5rem;
  }
}
@media (min-width: 83.125em) {
  .home-page__title {
    font-size: 6.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 83.125em) {
  .home-page__title {
    font-size: calc(3.125rem + 3.4375 * (((100vw - 20rem)) / ((63.125))));
  }
}
@media (max-width: 20em) {
  .home-page__title {
    font-size: 3.125rem;
  }
}
.home-page__subtitle {
  padding-top: 1.25rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.9696969697;
}
@media (min-width: 83.125em) {
  .home-page__subtitle {
    font-size: 2.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 83.125em) {
  .home-page__subtitle {
    font-size: calc(1.25rem + 1.1875 * (((100vw - 20rem)) / ((63.125))));
  }
}
@media (max-width: 20em) {
  .home-page__subtitle {
    font-size: 1.25rem;
  }
}
.home-page__solarbox {
  margin: 0 auto;
}
@media (min-width: 83.125em) {
  .home-page__solarbox {
    margin-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 83.125em) {
  .home-page__solarbox {
    margin-bottom: calc(2.0625rem + 2.9375 * (((100vw - 20rem)) / ((63.125))));
  }
}
@media (max-width: 20em) {
  .home-page__solarbox {
    margin-bottom: 2.0625rem;
  }
}
.home-page__scroll {
  width: 1.75rem;
  display: block;
  height: 4.1875rem;
  background-image: url(../img/button.png);
  background-size: cover;
  margin: 0 auto;
  transition: 0.2s;
}
@media (max-width: 21.25em) {
  .home-page__scroll {
    display: none;
  }
}
@media (min-width: 83.125em) {
  .home-page__scroll {
    margin-bottom: 6.875rem;
  }
}
@media (min-width: 20em) and (max-width: 83.125em) {
  .home-page__scroll {
    margin-bottom: calc(2.0625rem + 4.8125 * (((100vw - 20rem)) / ((63.125))));
  }
}
@media (max-width: 20em) {
  .home-page__scroll {
    margin-bottom: 2.0625rem;
  }
}
.home-page__scroll a {
  display: block;
  width: 1.75rem;
  height: 4.1875rem;
}
.home-page__scroll:hover {
  transform: scale(1.3);
}

.solarbox {
  overflow: hidden;
  padding-top: 1.25rem;
  width: 9.1875rem;
  height: 10.625rem;
  transition: 0.2s;
}
.solarbox__play {
  cursor: pointer;
  position: relative;
  background: url(../img/2.png) center no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.2s ease 0s;
  width: 8.25rem;
  height: 8.25rem;
  margin: 0 auto;
}
.solarbox__play:hover, .solarbox__play:active {
  transform: scale(1.1);
}
.solarbox__play:hover::before, .solarbox__play:active::before {
  transform: scale(1.25);
}
.solarbox__play:hover::after, .solarbox__play:active::after {
  transform: scale(1.2);
}
.solarbox__play::before {
  transition: all 0.9s ease 0s;
  position: absolute;
  content: "";
  background: url(../img/3.png) 50% no-repeat;
  background-size: contain;
  width: 5.5rem;
  height: 5.5rem;
  left: 19%;
  top: 20%;
}
.solarbox__play::after {
  transition: all 0.9s ease 0s;
  position: absolute;
  content: "";
  background: url(../img/1.svg) 50% no-repeat;
  background-size: contain;
  width: 1.25rem;
  height: 1.25rem;
  top: 44%;
  left: 44%;
}

.sect-about-us {
  position: relative;
  background-color: #252525;
  width: 100%;
  padding-bottom: 9.375rem;
}
@media (max-width: 55.625em) {
  .sect-about-us {
    padding-bottom: 4.375rem;
  }
}
@media (max-width: 38.75em) {
  .sect-about-us {
    padding-bottom: 3.125rem;
  }
}
.sect-about-us__container {
  position: relative;
  max-width: 81.25rem;
  margin: 0 auto;
}
.sect-about-us__container::after {
  position: absolute;
  background: url(../img/kw.png);
  content: "";
  height: 51.25rem;
  width: 51.25rem;
  background-repeat: no-repeat;
  right: -27%;
  top: -17%;
  z-index: 0;
  background-size: contain;
}
@media (max-width: 75.4375em) {
  .sect-about-us__container::after {
    display: none;
  }
}
.sect-about-us__for-images {
  max-width: 100%;
  min-height: 8.4375rem;
  padding: 0px 0.9375rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
@media (min-width: 83.125em) {
  .sect-about-us__for-images {
    gap: 10.625rem;
  }
}
@media (min-width: 20em) and (max-width: 83.125em) {
  .sect-about-us__for-images {
    gap: calc(0.625rem + 10 * (((100vw - 20rem)) / ((63.125))));
  }
}
@media (max-width: 20em) {
  .sect-about-us__for-images {
    gap: 0.625rem;
  }
}
@media (min-width: 83.125em) {
  .sect-about-us__for-images {
    margin-bottom: 7.375rem;
  }
}
@media (min-width: 20em) and (max-width: 83.125em) {
  .sect-about-us__for-images {
    margin-bottom: calc(1.25rem + 6.125 * (((100vw - 20rem)) / ((63.125))));
  }
}
@media (max-width: 20em) {
  .sect-about-us__for-images {
    margin-bottom: 1.25rem;
  }
}
.sect-about-us__for-images img {
  width: 3.6875rem;
  height: 3.6875rem;
}
@media (max-width: 36.875em) {
  .sect-about-us__for-images {
    min-height: 5rem;
  }
}
.sect-about-us__wrapper {
  width: 100%;
}
.sect-about-us__info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 8.125rem 0px;
  padding-left: 5.5rem;
  max-width: 53.5rem;
  background-color: #EF3527;
  border-radius: 1.25rem;
}
@media (max-width: 64em) {
  .sect-about-us__info {
    margin: 0 auto;
  }
}
@media (max-width: 36.875em) {
  .sect-about-us__info {
    align-items: center;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding: 3.125rem 0px;
    padding-bottom: 1.25rem;
  }
}
.sect-about-us__info::after {
  position: absolute;
  content: "";
  background: url(../img/about-img.png);
  width: 32.8125rem;
  height: 32.8125rem;
  background-size: contain;
  background-repeat: no-repeat;
  right: -32%;
  top: -8%;
  z-index: 5;
}
@media (max-width: 64em) {
  .sect-about-us__info::after {
    display: none;
  }
}
.sect-about-us__title {
  position: relative;
  font-size: 3.75rem;
  text-align: left;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 5.3125rem;
}
@media (max-width: 36.875em) {
  .sect-about-us__title {
    font-size: 3.6875rem;
  }
}
@media (max-width: 20.6875em) {
  .sect-about-us__title {
    font-size: 3.3125rem;
  }
}
.sect-about-us__title::after {
  position: absolute;
  background: #FFA630;
  content: "";
  height: 0.3125rem;
  width: 3.75rem;
  bottom: -68%;
  left: 0;
  z-index: 0;
}
@media (max-width: 36.875em) {
  .sect-about-us__title::after {
    left: 37%;
  }
}
.sect-about-us__text {
  width: 28.9375rem;
  min-height: 7.5rem;
  text-align: left;
  font-size: 1.125rem;
  line-height: 30px;
  letter-spacing: 0.2px;
}
@media (max-width: 36.875em) {
  .sect-about-us__text {
    padding: 0px 10px 0px 10px;
    font-size: 1.0625rem;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 33.125em) {
  .sect-about-us__text {
    font-size: 0.875rem;
    height: auto;
  }
}

.sect-advantages {
  width: 100%;
  position: relative;
  padding-bottom: 6.25rem;
}
@media (min-width: 83.125em) {
  .sect-advantages {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 83.125em) {
  .sect-advantages {
    padding-bottom: calc(1.875rem + 4.375 * (((100vw - 20rem)) / ((63.125))));
  }
}
@media (max-width: 20em) {
  .sect-advantages {
    padding-bottom: 1.875rem;
  }
}
.sect-advantages__container {
  max-width: 81.25rem;
  margin: 0 auto;
}
.cards-body {
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 20px;
  align-items: flex-start;
}
.cards-body__item {
  position: relative;
  background-color: transparent;
  max-width: 26.25rem;
  max-height: 26.25rem;
}
.cards-body__item_mod {
  width: 26.25rem;
  height: 26.25rem;
  border: 20px solid rgba(255, 166, 48, 0.98);
  display: flex;
  flex-flow: column wrap;
  justify-content: end;
  align-items: flex-start;
  gap: 50px;
  padding-left: 5.625rem;
}
@media (max-width: 27.1875em) {
  .cards-body__item_mod {
    max-height: 18.125rem;
    justify-content: center;
    border: 15px solid rgba(255, 166, 48, 0.98);
    padding-left: 2.5rem;
  }
}
.cards-body__item_mod h3 {
  width: 100%;
  width: 18.75rem;
  height: 8.3125rem;
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.2px;
  position: relative;
}
@media (max-width: 27.1875em) {
  .cards-body__item_mod h3 {
    width: 12.5rem;
    font-size: 3.125rem;
    height: auto;
  }
}
.cards-body__item_mod h3::after {
  position: absolute;
  background: red;
  content: "";
  height: 0.225rem;
  width: 11.9375rem;
  bottom: -16%;
  left: 0;
  z-index: 0;
}
.cards-body__item_mod p {
  width: 100%;
  max-width: 11.9375rem;
  text-align: left;
  height: 7.125rem;
}
@media (max-width: 27.1875em) {
  .cards-body__item_mod p {
    max-width: 12.5rem;
    height: 4.375rem;
    font-size: 1.0625rem;
  }
}
.cards-body__item img {
  width: 100%;
}
.cards-body__title {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.1px;
  background: #252525;
  max-width: 16.9375rem;
  padding-top: 1.625rem;
  padding-bottom: 1.625rem;
  position: absolute;
  left: -1px;
  bottom: -1px;
}
@media (min-width: 83.125em) {
  .cards-body__title {
    padding-right: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 83.125em) {
  .cards-body__title {
    padding-right: calc(0.3125rem + 2.1875 * (((100vw - 20rem)) / ((63.125))));
  }
}
@media (max-width: 20em) {
  .cards-body__title {
    padding-right: 0.3125rem;
  }
}
@media (max-width: 26.5625em) {
  .cards-body__title {
    font-size: 1.125rem;
  }
}
.cards-body__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #252525;
  text-align: center;
  align-items: center;
  background-color: #EF3527;
  width: 10rem;
  height: 3.125rem;
  font-size: 1rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.2px;
}
.cards-body__btn:hover {
  -moz-box-shadow: 4px 4px 45px 21px rgba(244, 38, 18, 0.39);
  box-shadow: 4px 4px 45px 21px rgba(244, 38, 18, 0.39);
  -webkit-box-shadow: 4px 4px 45px 21px rgba(244, 38, 18, 0.39);
}
.cards-body__btn:active {
  width: 8.75rem;
  height: 2.5rem;
}

.statistics {
  border-radius: 1.25rem;
  background: #EF3527;
}
.statistics__container {
  max-width: 81.25rem;
  margin: 0 auto;
}
.statistics__body {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: 107px;
  column-gap: 62px;
  justify-content: center;
  padding: 5.9375rem 0;
}
@media (max-width: 45.9375em) {
  .statistics__body {
    padding-top: 2.8125rem;
    padding-bottom: 0.9375rem;
  }
}
@media (max-width: 24.6875em) {
  .statistics__body {
    gap: 55px;
  }
}
.statistics__itemgroup {
  display: flex;
  flex-flow: row wrap;
  column-gap: 82px;
  align-items: flex-start;
  gap: 69px;
  justify-content: center;
}
@media (max-width: 57.625em) {
  .statistics__itemgroup {
    column-gap: 62px;
  }
}
.statistics__item {
  max-width: 22.8125rem;
  max-height: 10.625rem;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  column-gap: 28px;
}
@media (max-width: 22.5em) {
  .statistics__item img {
    width: 3.75rem;
    height: 3.75rem;
  }
}
@media (max-width: 22.5em) {
  .statistics__item {
    column-gap: 19px;
  }
}
.statistics__item_mody {
  width: 26.25rem;
  height: 10.6875rem;
}
@media (max-width: 57.625em) {
  .statistics__item_mody {
    max-width: 22.8125rem;
  }
}
@media (max-width: 22.5em) {
  .statistics__item_mody {
    max-width: 18.75rem;
  }
}
.statistics__item_mody p {
  width: 16.0625rem;
  width: 100%;
  height: 5.625rem;
  font-size: 1.125rem;
  line-height: 1.6666666667;
  font-weight: normal;
  letter-spacing: 0.2px;
}
@media (max-width: 57.625em) {
  .statistics__item_mody p {
    max-width: 22.8125rem;
    font-size: 1.0625rem;
    height: 10.6875rem;
  }
}
@media (max-width: 24.6875em) {
  .statistics__item_mody p {
    text-align: center;
    font-size: 1rem;
  }
}
@media (max-width: 22.5em) {
  .statistics__item_mody p {
    font-size: 0.90625rem;
    text-align: center;
  }
}
.statistics__item p {
  width: 16.0625rem;
  height: 5.625rem;
  font-size: 1.125rem;
  line-height: 1.6666666667;
  font-weight: normal;
  letter-spacing: 0.2px;
}
@media (max-width: 24.6875em) {
  .statistics__item p {
    font-size: 0.9375rem;
    width: 13.125rem;
  }
}
.statistics__item:nth-child(3) {
  margin-right: 3.5625rem;
}
@media (max-width: 54.9375em) {
  .statistics__item:nth-child(3) {
    margin-right: 0;
  }
}
.statistics__title {
  width: 16.0625rem;
  height: 5rem;
  color: #FFA630;
  letter-spacing: 0.2px;
  font-size: 3.75rem;
  line-height: 1.1;
  font-weight: 500;
}
@media (max-width: 24.6875em) {
  .statistics__title {
    font-size: 3.125rem;
    width: 13.125rem;
  }
}
@media (max-width: 22.5em) {
  .statistics__title {
    font-size: 2.6875rem;
    padding-top: 0.625rem;
  }
}

.sect-projects {
  padding-bottom: 6.25rem;
}
@media (min-width: 83.125em) {
  .sect-projects {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 83.125em) {
  .sect-projects {
    padding-top: calc(3.125rem + 3.125 * (((100vw - 20rem)) / ((63.125))));
  }
}
@media (max-width: 20em) {
  .sect-projects {
    padding-top: 3.125rem;
  }
}
.sect-projects__container {
  max-width: 81.25rem;
}
.sect-projects__body {
  width: 100%;
}
.sect-projects .cards-body__title {
  width: 20rem;
  max-height: 6.25rem;
}
@media (max-width: 23.4375em) {
  .sect-projects .cards-body__title {
    width: auto;
    padding-right: 0.9375rem;
  }
}
.sect-projects .cards-body__item-long {
  position: relative;
  max-height: 26.25rem;
  max-width: 53.75rem;
}
@media (max-width: 36.875em) {
  .sect-projects .cards-body__item-long {
    height: 18.125rem;
  }
}
.sect-projects .cards-body__item-long img {
  width: 100%;
  height: 100%;
}
.sect-projects .cards-body__item_mod {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  justify-content: center;
  gap: 79px;
  padding-right: 5.4375rem;
  padding-left: 0;
}
@media (max-width: 27.1875em) {
  .sect-projects .cards-body__item_mod {
    padding-right: 3.4375rem;
    gap: 60px;
  }
}
@media (max-width: 20.5625em) {
  .sect-projects .cards-body__item_mod {
    padding-right: 1.5625rem;
  }
}
.sect-projects .cards-body__item_mod h3 {
  text-align: right;
}
@media (max-width: 27.1875em) {
  .sect-projects .cards-body__item_mod h3 {
    font-size: 2.625rem;
  }
}
.sect-projects .cards-body__item_mod h3::after {
  background-color: #FFA630;
  left: 36%;
  bottom: -19%;
  width: 11.9375rem;
}
@media (max-width: 27.1875em) {
  .sect-projects .cards-body__item_mod h3::after {
    left: 4%;
  }
}

.sect-contacts {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 6.25rem;
}
@media (max-width: 26.5625em) {
  .sect-contacts {
    padding-bottom: 4.0625rem;
  }
}
.sect-contacts__container {
  max-width: 81.25rem;
}
.sect-contacts__body {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 71px;
  align-items: center;
  justify-content: flex-end;
  padding-left: 1.25rem;
}
@media (max-width: 48em) {
  .sect-contacts__body {
    justify-content: center;
    padding-left: 0;
  }
}
@media (max-width: 60.6875em) {
  .sect-contacts__body {
    gap: 40px;
  }
}
@media (max-width: 55.625em) {
  .sect-contacts__body {
    justify-content: center;
  }
}
.sect-contacts__actions {
  max-width: 17.4375rem;
}
.sect-contacts__map {
  width: 53.6875rem;
  max-height: 38.3125rem;
  max-height: 38.3125rem;
}
@media (min-width: 83.125em) {
  .sect-contacts__map {
    width: 53.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 83.125em) {
  .sect-contacts__map {
    width: calc(18.75rem + 34.9375 * (((100vw - 20rem)) / ((63.125))));
  }
}
@media (max-width: 20em) {
  .sect-contacts__map {
    width: 18.75rem;
  }
}
@media (min-width: 83.125em) {
  .sect-contacts__map {
    height: 38.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 83.125em) {
  .sect-contacts__map {
    height: calc(18.75rem + 19.5625 * (((100vw - 20rem)) / ((63.125))));
  }
}
@media (max-width: 20em) {
  .sect-contacts__map {
    height: 18.75rem;
  }
}
@media (max-width: 73.1875em) {
  .sect-contacts__map {
    max-height: 38.3125rem;
  }
}
@media (max-width: 73.1875em) and (min-width: 83.125em) {
  .sect-contacts__map {
    width: 45rem;
  }
}
@media (max-width: 73.1875em) and (min-width: 20em) and (max-width: 83.125em) {
  .sect-contacts__map {
    width: calc(18.75rem + 26.25 * (((100vw - 20rem)) / ((63.125))));
  }
}
@media (max-width: 73.1875em) and (max-width: 20em) {
  .sect-contacts__map {
    width: 18.75rem;
  }
}
@media (max-width: 73.1875em) and (min-width: 83.125em) {
  .sect-contacts__map {
    height: 32.6875rem;
  }
}
@media (max-width: 73.1875em) and (min-width: 20em) and (max-width: 83.125em) {
  .sect-contacts__map {
    height: calc(18.75rem + 13.9375 * (((100vw - 20rem)) / ((63.125))));
  }
}
@media (max-width: 73.1875em) and (max-width: 20em) {
  .sect-contacts__map {
    height: 18.75rem;
  }
}
@media (max-width: 60.6875em) {
  .sect-contacts__map {
    max-height: 38.3125rem;
  }
}
@media (max-width: 60.6875em) and (min-width: 83.125em) {
  .sect-contacts__map {
    width: 43.1875rem;
  }
}
@media (max-width: 60.6875em) and (min-width: 20em) and (max-width: 83.125em) {
  .sect-contacts__map {
    width: calc(18.75rem + 24.4375 * (((100vw - 20rem)) / ((63.125))));
  }
}
@media (max-width: 60.6875em) and (max-width: 20em) {
  .sect-contacts__map {
    width: 18.75rem;
  }
}
@media (max-width: 60.6875em) and (min-width: 83.125em) {
  .sect-contacts__map {
    height: 31.25rem;
  }
}
@media (max-width: 60.6875em) and (min-width: 20em) and (max-width: 83.125em) {
  .sect-contacts__map {
    height: calc(18.75rem + 12.5 * (((100vw - 20rem)) / ((63.125))));
  }
}
@media (max-width: 60.6875em) and (max-width: 20em) {
  .sect-contacts__map {
    height: 18.75rem;
  }
}

.actions {
  display: flex;
  flex-flow: column nowrap;
  gap: 45px;
  align-items: flex-start;
}
@media (max-width: 55.5625em) {
  .actions {
    align-items: center;
  }
}
.actions__logo {
  padding-left: 3.5rem;
  font-size: 1.875rem;
  line-height: 1.1;
  letter-spacing: 0.1px;
  color: #EF3527;
}
@media (max-width: 48em) {
  .actions__logo {
    padding-left: 3.125rem;
  }
}
.actions__logo::after {
  left: 0%;
  background: url(../img/Vectordwew.png);
}
@media (max-width: 48em) {
  .actions__logo::after {
    height: 3.3125rem;
  }
}
@media (max-width: 23.5em) {
  .actions__logo::after {
    top: -45%;
  }
}
@media (max-width: 55.5625em) {
  .actions__address {
    text-align: center;
  }
}
.actions__address span {
  font-size: 0.625rem;
  color: #FFA630;
  font-weight: bold;
  line-height: 4.2;
}
.actions__address p {
  font-size: 1.125rem;
  line-height: 1.6666666667;
  letter-spacing: 0.2px;
  font-weight: normal;
}
@media (max-width: 48em) {
  .actions__address p {
    text-align: center;
  }
}

.social {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
  width: 11.875rem;
  transition: 0.2s;
}
.social img:hover {
  transform: scale(1.5);
}
